- var des = ["Thiết kế nhỏ gọn, phù hợp, đa mục đích","Mạnh mẽ, bền bỉ và hiệu suất lớn hơn","Khoan cắt với độ chính xác tuyệt đối"]
.content
	.about
		.container
			.wrapper
				.about__banner
					img(src="images/slider.jpg", alt="")
					img(src="images/slider.jpg", alt="")
					img(src="images/slider.jpg", alt="")
				.about__benefits
					.about__benefits--ship
						i.fa.fa-plane
						.text
							h6 MIỄN PHÍ VẬN CHUYỂN
							p Chúng tôi vận chuyển miễn phí vói các đơn hàng trị giá trên 1.000.000 Đ.
					.about__benefits--policy
						i.fa.fa-refresh
						.text
							h6 CHÍNH SÁCH ĐỔI TRẢ
							p Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi sản phẩm trong 7 ngày đầu tiên.
					.about__benefits--promo
						i.fa.fa-gift
						.text
							h6 KHUYẾN MẠI HẰNG TUẦN
							p Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.
					.about__benefits--commit
						i.fa.fa-thumbs-up
						.text
							h6 CAM KẾT HÀNG CHÍNH HÃNG
							p Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.






