- var menubar = ["TRANG CHỦ","GIỚI THIỆU","SẢN PHẨM","TIN KHUYẾN MÃI","DỊCH VỤ","LIÊN HỆ"];
- var icon = ["fa fa-facebook","fa fa-google-plus","fa fa-instagram","fa fa-twitter"]
- var mega = ["Máy khoan CNC điện","Máy phay đa năng 3R","Máy hàn, cắt kim loại","Máy in phun tích điện"]
.header
	.navtop    
		.container
			.wrapper
				.navtop__icon
					.btn-group
						for name in icon
							button
								i(class=name)
				.navtop__entry
					.btn-group
						button ĐĂNG KÍ
						button ĐĂNG NHẬP
	.navcenter
		.container
			.wrapper.row
				.navcenter__logo.col-lg-3.col-12
					.img
						img(src="images/company.jpg", alt="")
				.navcenter__hotline.col-lg-3
					.navcenter__hotline--des
						h6 HOTLINE:
						p  (04) 9500 9650 - (04) 9500 9650
				.navcenter__ship.col-lg-3
					.navcenter__ship--des
						h6  ĐẶT HÀNG NHANH:
						p  (04) 9500 9650 - (04) 9500 9650
				.navcenter__search.col-lg-3.col-12
					.navcenter__search--des
						input(type="text" placeholder="Tìm kiếm...")
						span.i.fa.fa-search
	.menu
		.container
			.wrapper
				.menu__bar
					.btn-group
						for name in menubar
							button= name
				.menu__right
					.menu__right--toggle
						button
							i.fa.fa-bars
					.menu__right--cart
						button.menu__cart--btn
							i.fa.fa-shopping-basket.basket
								span.dot 0