.newsletter
    .newsletter__img 
        img(src="images/newsletter.png", alt="")
    .container
        .newsletter__content.row
            .col-md-12
                p Đăng kí để nhận tin tức khuyến mại hằng tuần
                .newsletter__content--form
                    input(type="text" placeholder="Nhập email của bạn..")
                    button ĐĂNG KÍ
