.content{
    margin-top: 2rem;
    .about {
        background-color: $color-white;
        .wrapper{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .about__banner{
                width: 66%;
                img {
                    width: 100%;
                    height: auto; 
                    outline: none;           
                }
                .original-dots {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 92%;
                    left: 48%;
                  }
                .original-dots li {
                    list-style-type: none;
                }
                .original-dots li button {
                    background-color: #a1a1a1;
                    margin: 0 2px;
                    font-size: 0;
                    padding: 5px;
                    border: none;
                    outline: none;
                }
                .original-dots li:hover,
                .original-dots li button:hover {
                cursor: pointer;
                }
                li.slick-active{
                    button{
                        background-color: #252525;
                    }
                }
                /* ここまで */
            }
            .about__benefits{
                width: 34%;
                height: 499px;
                &--ship{
                    @include benefit;
                }
                &--ship:hover{
                    @include hover-banner;
                }
                &--ship:not(:last-child) {
                    border-bottom: none; 
                }
                &--policy{
                    @include benefit;
                }
                &--policy:hover{
                    @include hover-banner;
                }
                &--policy:not(:last-child) {
                    border-bottom: none; 
                }
                &--promo{
                    @include benefit;
                }
                &--promo:hover{
                    @include hover-banner;
                }
                &--promo:not(:last-child) {
                    border-bottom: none; 
                }
                &--commit{
                    @include benefit;
                }
                &--commit:hover{
                    @include hover-banner;
                }
                &--commit:not(:last-child) {
                    border-bottom: none; 
                }
            }
        }
    }
}