.header
//nav top 
    .navtop{
        background-color: $color-beige;
        border: 1px solid $color-border;
        .wrapper{
            display:flex;
            justify-content: space-between;
            flex-wrap:wrap;
        }
        &__icon{
            button{
                width: 55px;
                background-color: $color-beige;
            }
        }
        &__entry{
            margin-left: auto;
            button{
                background-color: $color-beige;
            }
        }
        button{
            padding: 18px;
            border: 0.5px solid $color-border;
            font-size: 11px;
            font-weight: bold;
            border-bottom: none;
            border-top: none;
            transition: 1s ease;
        }
        button:not(:last-child) {
            border-right: none; 
        }
        button:hover {
            background-color: $color-yellow;
        }
        button:focus {
            outline: none;
        }
    }

    //nav center
    .navcenter {
        background-color: $color-white;
        .wrapper{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__logo{
            flex-grow: 1;
            width:15%;
            img{
                height: auto;
            }
        }
        &__phone{
            display: flex;
            flex-grow: 4;
            width: 85%;
            &--hotline{
                flex:0 0 30%;
                width: 30%;
                h6{
                    color: $color-yellow;
                    text-align: center;
                    margin: 40px 7px 5px;
                }
                p{
                    margin-left: 108px;
                    color: $color-gray-bolder;
                    font-size:$font-size-phone;
                }
            }
            &--ship{
                flex:0 0 30%;
                width: 30%;
                h6{
                    margin: 40px 5px 5px -1px;
                    color: $color-yellow;
                    text-align: center; 
                }
                p {
                    font-size: $font-size-phone;
                    color: $color-gray-bolder;
                    margin-left: 64px;
                }
            }
            &--search{
                position: relative;
                flex:0 0 40%;
                display: inline-block;
                input[type="text"] {    
                    position: absolute;   
                    padding: 13px 56px 13px 8px;
                    border: 1px solid lightgray;
                    border-radius: 23px;
                    margin: 37px 10px 32px 95px;
                    font-size: 13px;
                    outline:none;
                    text-indent: 10px;
                    width: 71%;
                }
                input[type="text"]::placeholder {         
                    color: $color-phone;
                    text-align: left;
                }
                span{
                    position: absolute;
                    top: 53px;
                    right: 34px;
                    font-size: 18px;
                    color: #acacac;
                }
            }
        }
    }

    //Menu bar
    .menu {
        background-color: $color-black;
        .wrapper{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .toggle{
                width: 2%;
                display: none;
                i{
                    width: 5%;
                    color: white;
                    top: 50%;
                    margin-top: 32px;
                }
            }
            .menu__bar{
                button:not(:last-child) {
                    border-right: none; 
                } 
            }
        }
        button {
            padding: 30px;
            border: 1px solid #363636;     
            background-color: $color-black;
            color: $color-white;
            font-weight: 600;
            font-size: 13px;
            float: left;
            transition: 0.5s;
        }
        button:focus {
            outline: none;
        }
        &__cart{
            margin-left: auto;
            
            .basket{
                position: relative;
                font-size: 18px;
            }
            .dot{
                position: absolute;
                top: -10px;
                right: -11px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #f5bd10;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                line-height: 20px;
                text-align: center;
            }
        }
        button:hover {
            border: 1px solid $color-yellow ;
            background-color: $color-yellow;
        }
    }







